#banniere{
    width: 100vw;
    height: 300px;
    background-color: #93baf9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-radius: 5px;
    border: 3px solid black;
}

.card > img {
    width: 200px;
    height: 150px;
    
}

.card > p {
    display: inline-block;
    margin-right: 50px;
    margin-left: 10px;
}

 .fa-heart{
    color: red;
}

.fa-shopping-cart{
    margin-left: 10px;
}

#panier {
    z-index: 8000;
    position: absolute;
    top:5%;
    left: 90%;

}

#shownpanier {
    width: 100px;
    height: 150px;
    background-color: yellow;
    visibility: hidden;
}

#wishlist {
    z-index: 8000;
    position: absolute;
    top:5%;
    left: 80%;

}

#shownwishlist {
    width: 100px;
    height: 150px;
    background-color: yellow;
    visibility: hidden;
}